<template>
  <div ref="menu" class="dropdown level-list-wrapper active">
    <ul class="level-list">
      <GroupLevel v-for="group in groups" :key="group.id" :group="group"/>
    </ul>
  </div>
</template>

<script>
import GroupLevel from "@/components/Group/GroupLevel";
import {mapState} from "vuex";
export default {
  name: 'Dropdown',
  components: {GroupLevel},
  computed: {
    ...mapState('groups', {
      groups: 'groups',
    }),
  },
}
</script>
