<template>
  <label class="search">
    <span class="search__text">Название сбора</span>
    <input class="search__input" type="text"/>
  </label>
</template>

<script>
export default {
  name: "InputSearch"
}
</script>