@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-light;
  color: $color-grey-300;
  font-family: 'FuturaPTBook', sans-serif;
  font-size: 20px;
  line-height: 25px;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  color: inherit;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  transition: $transition-duration-base;
}

a {
  display: flex;
  text-decoration: none;
  transition: $transition-duration-base;

  &:hover {
    opacity: .6;
  }
}

ol,
ul {
  list-style: none;
}