@charset "UTF-8";

@font-face {
  font-family: 'FuturaPTBook';
  src: url('../fonts/FuturaPT-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'FuturaPTDemi';
  src: url('../fonts/FuturaPT-Demi.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}