@charset "UTF-8";

.text-title-xl {
  margin: 0;
  font-family: 'FuturaPTDemi', sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.text-title-l {
  font-family: 'FuturaPTBook', sans-serif;
  font-size: 30px;
  line-height: 35px;
  font-weight: 400;
}

.text-light {
  color: $color-grey-200;
}