@charset "UTF-8";

// Site colors
$color-bg: #FAFAFA;
$color-light: #ffffff;
$color-grey-100: #999999;
$color-grey-200: #545351;
$color-grey-300: #302F2D;
$color-red: #E65639;
$color-border: #E6E6E6;


// Transitions
$transition-duration-base: .3s ease;