@charset "UTF-8";

.button {
  background-color: $color-red;
  color: $color-light;
  font-family: 'FuturaPTDemi', sans-serif;
  font-size: 16px;
  line-height: 16px;
  padding: 22px 40px;

  &:hover {
    background-color: #d75034;
  }
}
