@charset "UTF-8";

.dropdown-wrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0;
  z-index: 20;
  width: 300px;
  height: 300px;
  background-color: white;
  border: 1px solid $color-border;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0, 0, 0, .15);
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}