@charset "UTF-8";

.dropdown-trigger {
  height: 40px;

  &:before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid $color-border;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }

  svg {
    margin: 0 10px;
  }
}

.dropdown-trigger__text {
  padding-left: 20px;
}