@charset "UTF-8";

.form__row:not(:last-child) {
  margin-top: 50px;
}

.form__row:last-child {
  margin-top: 60px;
}

.form__footer {
  padding-top: 60px;
  margin-top: 45px;
  border-top: 1px solid $color-border;
}