@charset "UTF-8";

.header {
  width: 100%;
  height: 120px;
  background-color: $color-bg;
  border-bottom: 1px solid $color-border;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}
.header__user {
  display: flex;
  align-items: center;

  img {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}
