@charset "UTF-8";

.level-list-wrapper {
  &.active {
    & .level-list.active {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }

  .level-list {
    transition: opacity, visibility, transform;
    transition-timing-function: cubic-bezier(.465, .183, .153, .946);
    transition-duration: .3s;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $color-light;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-bottom: 2.4rem;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  & .level-list .level-list {
    transform: translateX(100%);
  }
}

.level-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  margin: 15px 0;
}

.level-list__group {
  position: initial;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;

  &:hover {
    color: $color-red;
  }

  &.active {
    color: $color-red;
  }
}

.level-list__back {
  & button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    cursor: pointer;
    color: $color-grey-100;
    padding: 15px;

    svg {
      margin-right: 15px;
    }

    &:hover {
      color: $color-red;
    }
  }
}

.level-list__forth {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  color: $color-grey-100;

  &:hover {
    color: $color-red;
  }
}