@charset "UTF-8";

.search {
  display: flex;
  flex-flow: column;
}

.search__input {
  width: 100%;
  max-width: 960px;
  height: 50px;
  margin-top: 24px;
  background-color: $color-bg;
  border: 1px solid $color-border;
  padding: 15px 20px;

  &:focus {
    outline: none;
    border: 1px solid $color-border;
  }
}