@charset "UTF-8";

.sidebar {
  background-color: $color-bg;
  border-right: 1px solid $color-border;
  height: 100%;
  padding: 50px 40px;
}

.sidebar__title {
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 20px;

  svg {
    margin-right: 20px;
  }
}