@charset "UTF-8";

.tags-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
  background-color: $color-bg;
  border-radius: 20px;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.tags-list__item {
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 20px;

  &:not(:last-child)::after, &:last-child::after {
    content: "";
    display: flex;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
  }

  &:not(:last-child)::after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9.73333H14' stroke='%23999999' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.2666 13.4667L13.9999 9.73333L10.2666 6' stroke='%23999999' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    right: -10px;
  }

  &:hover {
    opacity: 1;
  }

  &:last-child {
    color: #E65639;
  }
}

.tags-list__clear {
  color: $color-grey-100;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' rx='10' fill='white'/%3E%3Cpath d='M7 7L12.9793 13' stroke='%23999999' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.9793 7L7 13' stroke='%23999999' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  margin-left: 10px;
  transition: $transition-duration-base;

  &:hover {
    color: $color-red;
  }
}
