<template>
  <header class="header">
    <a href="/" class="header__logo">
      <icon-base width="258" height="35" icon-name="logo">
        <icon-logo/>
      </icon-base>
    </a>

    <div class="header__user">
      <img src="../../assets/img/coordinator.png" alt="coordinator">
      Екатерина
    </div>
  </header>
</template>

<script>
  import IconBase from "@/components/Icons/IconBase";
  import IconLogo from "@/components/Icons/IconLogo";
  export default {
    name: "Header",
    components: {IconLogo, IconBase},
}
</script>