<template>
  <aside class="sidebar">
    <div class="sidebar__title">
      <icon-base width="40" height="40" icon-name="circles">
        <icon-circles/>
      </icon-base>
      Панель управления
    </div>
  </aside>
</template>

<script>
  import IconBase from "@/components/Icons/IconBase";
  import IconCircles from "@/components/Icons/IconCircles";
  export default {
    name: "Sidebar",
    components: {IconCircles, IconBase}
  }
</script>