<template>
  <g>
    <path d="M10 1V19" stroke="#999999" stroke-width="1.5" stroke-linecap="round"/>
    <path d="M1 10H19" stroke="#999999" stroke-width="1.5" stroke-linecap="round"/>
  </g>
</template>

<script>
export default {
  name: "IconPlus"
}
</script>