<template>
  <g>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M186.887 15.4366C186.887 6.33076 192.524 0 200.59 0C208.655 0 214.118 6.33076 214.118 15.003C214.118 24.3691 208.481 30.4397 200.416 30.4397C192.351 30.4397 186.887 24.3691 186.887 15.4366ZM85.682 3.90247L80.3052 30.006H81.9529L83.9476 20.2063H89.0642L91.1456 30.006H94.5277L88.2837 0.433565H84.9883L85.682 3.90247ZM84.2945 18.5587L86.4626 7.54487L88.7174 18.5587H84.2945ZM76.6628 0.520327H73.4541V11.6208H67.1233V0.520327H63.9146V30.0928H67.2101V13.3553H73.4541V30.0928H76.6628V0.520327ZM54.4619 11.6208L60.2723 30.006H56.8901L51.6 13.2686H48.3045V30.006H45.0958V13.3553H41.8871L36.597 30.0928H33.2148L39.0252 11.7076L34.7758 0.520327H36.4235L40.7597 11.6208H45.0958V0.520327H48.3045V11.6208H52.6407L56.9768 0.520327H58.6245L54.4619 11.6208ZM12.7482 30.0928V0.520327H9.45277V11.6208H3.20874V0.520327H0V30.0928H3.20874V13.3553H9.45277V30.0928H12.7482ZM29.399 0.520327H31.0468L24.6293 30.0928H22.9816L25.1496 20.2931H21.4205L16.8242 0.520327H20.2064L24.2824 18.5586H25.4965L29.399 0.520327ZM200.59 28.9656C193.999 28.9656 190.53 22.4614 190.53 15.0032C190.53 7.63178 193.825 1.47447 200.416 1.47447C207.007 1.47447 210.476 7.7185 210.476 15.5235C210.476 22.4614 207.181 28.9656 200.59 28.9656ZM123.233 30.0928V0.520327H110.571V30.006H113.78V2.16806H120.024V30.0928H123.233ZM248.027 11.7943V0.520327H244.818V30.0928H248.027C254.791 30.0928 258 26.6239 258 20.7267C257.913 14.8296 254.705 11.881 248.027 11.7943ZM248.027 13.2687V28.5319C253.23 28.5319 254.271 24.9763 254.271 21.1605C254.271 17.3447 253.23 13.2687 248.027 13.2687ZM241.609 28.3583V34.6891H239.962V30.006H217.934V0.520327H221.143V28.3583H226.78V0.520327H229.989V28.3583H235.626V0.520327H238.834V28.3583H241.609ZM182.985 0.520327H179.776V2.94856L171.191 11.9677L160.437 0.520327H155.841L158.616 3.4689V30.006H160.264V5.20335L170.063 15.5234L179.776 5.20335V30.0928H182.985V0.520327ZM140.838 0C132.772 0 127.135 6.33076 127.135 15.4366C127.135 24.3691 132.599 30.4397 140.664 30.4397C148.729 30.4397 154.366 24.3691 154.366 15.003C154.366 6.33076 148.903 0 140.838 0ZM130.778 15.0032C130.778 22.4614 134.247 28.9656 140.838 28.9656C147.429 28.9656 150.724 22.4614 150.724 15.5235C150.724 7.7185 147.255 1.47447 140.664 1.47447C134.073 1.47447 130.778 7.63178 130.778 15.0032Z" fill="#302F2D"/>
  </g>
</template>

<script>
export default {
  name: "IconLogo"
}
</script>