<template>
  <g>
    <rect width="20" height="20" rx="10" fill="white"/>
    <path d="M7 7L12.9793 13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M12.9793 7L7 13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconClear"
}
</script>