<template>
  <g>
    <path d="M13.9862 18C16.2007 18 17.9723 16.2222 17.9723 14C17.9723 11.7778 16.2007 10 13.9862 10C11.7716 10 10 11.7778 10 14C10 16.2222 11.7716 18 13.9862 18Z" fill="none" stroke="#302F2D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M13.9862 30C16.2007 30 17.9723 28.2222 17.9723 26C17.9723 23.7778 16.2007 22 13.9862 22C11.7716 22 10 23.7778 10 26C10 28.2222 11.7716 30 13.9862 30Z" fill="none" stroke="#302F2D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M25.9447 18C28.1592 18 29.9308 16.2222 29.9308 14C29.9308 11.7778 28.1592 10 25.9447 10C23.7301 10 21.9585 11.7778 21.9585 14C21.9585 16.2222 23.7301 18 25.9447 18Z" fill="none" stroke="#302F2D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M25.9447 30C28.1592 30 29.9308 28.2222 29.9308 26C29.9308 23.7778 28.1592 22 25.9447 22C23.7301 22 21.9585 23.7778 21.9585 26C21.9585 28.2222 23.7301 30 25.9447 30Z" fill="none" stroke="#302F2D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
name: "IconCircles"
}
</script>