<template>
  <g>
    <path d="M12.4741 15L7.49141 10L12.4741 5" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
name: "IconArrowLeft"
}
</script>