<template>
  <g>
    <path d="M7.49136 15L12.4741 10L7.49136 5" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconArrowRight"
}
</script>