<template>
  <Header/>
  <main class="main">
    <Sidebar/>
    <section class="section">
      <h1 class="section__title text-title-xl">Создание сбора</h1>
      <div class="section__content">
        <GroupForm/>
      </div>
    </section>
  </main>
</template>

<script>
import Header from "@/components/Header/Header";
import Sidebar from "@/components/Sidebar/Sidebar";
import GroupForm from "@/components/Group/GroupForm";

export default {
  name: 'App',
  components: {
    GroupForm,
    Sidebar,
    Header,
  }
}
</script>
