<template>
  <li class="level-list__item">
    <button
        type="button"
        class="level-list__group"
        :class="{'active' : isSelected}"
        @click="onClickSelectGroup(group)">
      {{group.name}}
    </button>

    <button type="button" class="level-list__forth" v-if="group.groups.length > 0" @click="onClickNext(group)">
      <icon-base width="20" height="20" icon-name="IconArrowRight">
        <icon-arrow-right/>
      </icon-base>
    </button>

    <div class="level-list" :class="{'active' : isActiveLevel}">
      <div class="level-list__back">
        <button type="button" @click="onClickBack(group)">
          <icon-base width="20" height="20" icon-name="IconArrowLeft">
            <icon-arrow-left/>
          </icon-base>

          {{group.name}}
        </button>
      </div>

      <ul>
        <GroupLevel v-for="group in group.groups" :key="group.id" :group="group"/>
      </ul>

    </div>
  </li>
</template>

<script>

import {mapActions, mapState} from "vuex";
import IconBase from "@/components/Icons/IconBase";
import IconArrowLeft from "@/components/Icons/IconArrowLeft";
import IconArrowRight from "@/components/Icons/IconArrowRight";

export default {
  name: "GroupLevel",
  components: {IconBase, IconArrowLeft, IconArrowRight},
  props: {
    group: {
      type: Object,
      default: null
    },
    parentId: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      isActiveLevel : false,
      isSelectedGroup: false
    }
  },
  computed: {
    ...mapState('groups', {
      selectedGroupsIds: 'selectedGroupsIds'
    }),
    isSelected() {
      return this.selectedGroupsIds.includes(this.group.id)
    },
  },
  methods: {
    ...mapActions('groups', ['addSelectedGroup', 'deleteSelectedGroup']),

    onClickNext() {
      this.isActiveLevel = true;
    },
    onClickBack() {
      this.isActiveLevel = false;
    },
    onClickSelectGroup(group) {
      this.isSelected ?
          this.deleteSelectedGroup(JSON.parse(JSON.stringify(group)))
          : this.addSelectedGroup(JSON.parse(JSON.stringify(group)));
    },
  },
  unmounted() {
    if(this.isActiveLevel) this.isActiveLevel = false;
  }
}
</script>