<template>
  <form @submit.prevent="submitForm" class="form">
    <h2 class="form__title text-title-l">Информация о сборе</h2>

    <div class="form__row">
      <input-search/>
    </div>

    <div class="form__row">
      <div class="block">
        <div class="block__header"><h2 class="form__title text-title-l">Целевые группы</h2></div>
        <div class="block__content"><p class="text-light">Укажите, кому помогает ваша организация</p></div>
      </div>
    </div>

    <div class="form__row" v-if="selectedGroupsIds.length > 0">
      <GroupTags v-for="id in selectedGroupsIds" :key="id" :id="id"/>
    </div>

    <div class="form__row dropdown-wrapper">
      <button type="button" class="dropdown-trigger" @click.stop="onClickOpenMenu">
        <icon-base width="20" height="20" icon-name="IconPlus">
          <icon-plus/>
        </icon-base>
        <span class="dropdown-trigger__text">Выбрать<span v-if="selectedGroupsIds.length > 0">&nbsp;еще</span></span>
      </button>
      <Transition name="slow-fade">
        <Dropdown v-if="isOpen"/>
      </Transition>
    </div>

    <div class="form__footer">
      <button type="submit" class="button">
        сохранить и продолжить
      </button>
    </div>
  </form>
</template>

<script>
  import {mapState} from "vuex";
  import InputSearch from "@/components/Input/InputSearch";
  import GroupTags from "@/components/Group/GroupTags";
  import Dropdown from "@/components/Dropdown/Dropdown";
  import IconBase from "@/components/Icons/IconBase";
  import IconPlus from "@/components/Icons/IconPlus";

  export default {
    name: "Form",
    components: {IconPlus, IconBase, GroupTags, Dropdown, InputSearch},
    inject: ['getBranch'],
    data() {
      return {
        isOpen: false,
        groupsIds: []
      }
    },
    computed: {
      ...mapState('groups', {
        groups: 'groups',
        selectedGroupsIds: 'selectedGroupsIds',
      }),
    },
    methods: {
      openMenu() {
        this.isOpen = true;
      },

      closeMenu() {
        this.isOpen = false;
      },

      onClickOpenMenu() {
        this.openMenu();
      },

      submitForm() {
        this.selectedGroupsIds.forEach(id => {
          const branch = this.getBranch(JSON.parse(JSON.stringify(this.groups)), id).reverse();
          branch.forEach(group => this.groupsIds.push(group.id));
        })

        console.log(JSON.parse(JSON.stringify(this.groupsIds)));
        this.groupsIds = [];
      },
    },
    mounted() {
      document.body.addEventListener('click', event => {
        let dropdown = document.querySelector('.dropdown');
        let target = event.composedPath().includes(dropdown);
        !target && this.closeMenu();
      })
    }
  }
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.slow-fade-enter-active,
.slow-fade-leave-active {
  transition: opacity .3s ease;
}

.slow-fade-enter-from,
.slow-fade-leave-to {
  opacity: 0;
}
</style>