<template>
  <ul class="tags-list">
    <li class="tags-list__item" v-for="(group, index) in currentBranch" :key="group.id">
      <span class="tags-list__text">{{group.name}}</span>

      <button type="button" class="tags-list__clear" v-if="index === currentBranch.length - 1" @click="onClickClear(group)">
        <icon-base width="20" height="20" icon-name="IconClear">
          <icon-clear/>
        </icon-base>
      </button>
    </li>
  </ul>
</template>

<script>
import {mapActions, mapState} from "vuex";
import IconBase from "@/components/Icons/IconBase";
import IconClear from "@/components/Icons/IconClear";

export default {
  name: "Tags",
  components: {IconClear, IconBase},
  inject: ['getBranch'],
  props: {
    id: {
      type: Number,
      default: 0
    }
  },
  computed: {
    ...mapState('groups', {
      groups: 'groups'
    }),
    currentBranch() {
      return this.getBranch(JSON.parse(JSON.stringify(this.groups)), this.id);
    }
  },
  methods: {
    ...mapActions('groups', ['deleteSelectedGroup', 'getSelectedBranch', 'changeSelectedGroup']),

    onClickClear(group) {
      if(this.currentBranch.length === 1) {
        this.deleteSelectedGroup(group)
      } else {
        const prevGroup = JSON.parse(JSON.stringify(group));
        const newGroup = JSON.parse(JSON.stringify(this.currentBranch[this.currentBranch.length - 2]));

        this.changeSelectedGroup([prevGroup, newGroup]);
      }
    }
  },
}
</script>